.old-user{
    width: 65%;
    margin: auto auto;
}
img{
    max-height: 120px;
}
.img-parent{
    width: max-content;
    height: auto;
    margin: auto auto;
}
.login-tabs{
    background: white;
    border: 4px solid dodgerblue;
}
.new-user{
     width: 85%;
     margin: auto auto;
 }
.input-tab{
    background: white;
}
.user-back{
    height: max-content;
    background: white;
    border: 4px solid dodgerblue;
}

@media (max-width: 720px) {

    img {
        max-height: 90px;
    }

    .old-user {
        width: 85%;
    }
}

